body{
		background-color: black;
	}


h1	{
		text-align:center;
		text-shadow:2px 2px #C0C0C0;
		color:white;
		font-size:50px
	}

h2	{
		color:white;
	}
	
h3	{
		color:white;
		font-family:"Times New Roman";
		font-style:italic;
		font-size:45px;
		font-weight:bold;
	}
	
h4 	{
		color:white;
		text-align:right;
		font-family:Arial;
	}
	
	
h5	{
		color:white;
	}
	
p, li, tr, td, th	{
		color:white;
		text-shadow:1px 1px #C0C0C0;
		font-family:Verdana;
	}
	

hr {
		border: 3.5px solid #dddddd;
		border-radius: 5px;
	}
	
a:link {
			color:white;
		}

a:visited {
			color: gold;
		}

a:hover {
			color:#49fb35;
		}
		
table{
		border:1px solid black;
		padding:10px;
	}
		
td {
		font-style:italic;
	}
	
table, td, tr, td, th{
			border:5px solid white;
		}